<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet" type="text/css" />

    <title>账号管理</title>
</head>
<body>
<div th:replace="nav :: nav-top"></div>
<div th:replace="breadcrumb :: admin-comic"></div>
<div class="container-fluid">
    <div th:replace="nav :: nav-pag(${pages})"></div>
    <div class="row">
        <div th:replace="sidebar :: admin-comic"></div>
        <div class="col">
            <table class="table table-striped justify-content-center">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">用户名</th>
                    <th scope="col">创建时间</th>
                    <th scope="col">用户角色</th>
                    <th scope="col">增加角色</th>
                    <th scope="col">移除角色</th>
                    <th scope="col">禁用/启用</th>
<!--                    <th scope="col">删除用户</th>-->
                </tr>
                </thead>
                <tbody>
                <tr th:each="user, index : ${pages.list}">
                    <th scope="row" th:text="${index.count} + ${pages.pageSize} * (${pages.pageNum} - 1)"></th>
                    <td th:text="${user.username}"></td>
                    <td th:text="${#dates.format(user.createTime, 'dd/MM/yy HH:mm')}"></td>
                    <td th:text="${#strings.listJoin(roles[user.id],',')}"></td>
                    <td>
                        <select class="add-roles form-control" th:name="${user.id}">
                            <option disabled selected value="">Choose...</option>
                            <th:block th:each="role : ${others_roles[user.id]}">
                                <option th:if="${role != 'ROLE_LADMIN'}" th:text="${role}" th:value="${role}">
                                </option>
                                <option sec:authorize="hasRole('LADMIN')" th:if="${role == 'ROLE_LADMIN'}"
                                        th:text="${role}" th:value="${role}"></option>
                            </th:block>
                            <option th:if="${others_roles[user.id].size() == 0}" value="none">无</option>
                        </select>
                    </td>
                    <td>
                        <select class="remove-roles form-control" th:name="${user.id}">
                            <option disabled selected value="">Choose...</option>
                            <th:block th:each="role : ${roles[user.id]}">
                                <option th:if="${role != 'ROLE_LADMIN'}" th:text="${role}" th:value="${role}">
                                </option>
                                <option sec:authorize="hasRole('LADMIN')" th:if="${role == 'ROLE_LADMIN'}"
                                        th:text="${role}" th:value="${role}"></option>
                            </th:block>
                            <option th:if="${roles[user.id].size() == 0}" value="none">无</option>
                        </select>
                    </td>
                    <td>
                        <input class="status-checkbox" th:checked="${user.status}" th:value="${user.id}" type="checkbox"/>
                    </td>
                    <!--<td>
                        <a th:href="@{/admin/account/deleteUser(userId=${user.id})}" class="delete-user">删除</a>
                    </td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:replace="nav :: nav-pag(${pages})"></div>
</div>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
<script src="/scripts/main.js"></script>
</body>
</html>