<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="/stylesheets/signin.css" rel="stylesheet"/>
    <link href="https://v4ing.bootcss.com/docs/4.3/examples/sign-in/" rel="canonical" />
    <title>注册</title>
</head>
<body class="text-center">

<form action="/admin/register" class="form-signin" enctype="application/x-www-form-urlencoded" method="post">
    <!-- <img class="mb-4" src="./Signin Template · Bootstrap_files/bootstrap-solid.svg" alt="" width="72" height="72"> -->
    <h1 class="h3 mb-3 font-weight-normal">请注册</h1>
    <label class="sr-only" for="inputEmail">用户名</label>
    <input autofocus="" class="form-control" id="inputEmail" name="username"
           placeholder="用户名" required type="text">
    <label class="sr-only" for="email">邮箱</label>
    <input autofocus="" class="form-control" id="email" name="email"
           placeholder="邮箱" required type="email">
    <label class="sr-only" for="password">密码</label>
    <input class="form-control" id="password" name="password" placeholder="密码"
           required type="password">
    <!--<label class="sr-only" for="repeat-password">重复密码</label>
    <input class="form-control" id="repeat-password" placeholder="重复密码"
           required type="password">-->

    <div class="row justify-content-between">
        <button class="btn btn-lg btn-primary" type="submit">注册</button>
        <button class="btn btn-lg btn-primary" onclick="location.href='/admin/login'" type="button">登录</button>
    </div>
    <p class="mt-5 mb-3 text-muted">© 2017-2019</p>
</form>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
<script src="/scripts/bootstrap.min.js"></script>
<script src="/scripts/main.js"></script>
</body>
</html>