/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### my ignore ###
/log/*.log
/log/*.zip
/src/main/resources/static/scripts/jquery-3.4.1.js
/src/main/resources/static/stylesheets/bootstrap.min.css
/src/main/resources/templates/
/src/main/resources/static/
