<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/admin-comic.css" rel="stylesheet" type="text/css">

    <title th:text="${comic.title}"></title>
</head>
<body>
<div th:replace="nav :: nav-top"></div>
<div th:replace="breadcrumb :: admin-comic"></div>
<div class="container-fluid">
    <div th:replace="nav :: nav-pag(${pages})"></div>
    <div class="row">
        <div th:replace="sidebar :: admin-comic"></div>
        <div class="col">
            <table class="table table-striped justify-content-center">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">章节名</th>
                    <th scope="col">页数</th>
                    <th scope="col">阅读情况</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="chapter, index : ${pages.list}">
                    <th scope="row" th:text="${index.count} + ${pages.pageSize} * (${pages.pageNum} - 1)"></th>
                    <td><a th:href="|/admin/comic/${comic.id}|" th:text="${chapter.title}"></a></td>
                    <td th:text="${chapter.pages}"></td>
                    <td th:text="${comic.author}"></td>
                    <td><a th:href="|/admin/comic/${comic.id}/delete/${chapter.id}|">删除</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
<script src="/scripts/main.js"></script>
</body>
</html>