<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/admin-comic.css" rel="stylesheet" type="text/css">

    <title>管理员主页</title>
</head>
<body>
<div th:replace="nav :: nav-top"></div>
<div th:replace="breadcrumb :: admin-comic"></div>
<div class="container-fluid">
    <!--TODO: 添加侧边栏-->
    <!--TODO: 添加‘添加漫画’按钮，弹出可添加漫画列表-->
    <div class="row">
        <div th:replace="sidebar :: admin-comic"></div>
        <div class="col">
            <div th:replace="nav :: nav-pag"></div>
            <table class="table table-striped justify-content-center comics-table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">漫画名</th>
            <th scope="col">章节数</th>
            <th scope="col">作者</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <!--                TODO: 改成由ajax实现的异步更新-->
        <tr class="comic-info" th:each="comic, index : ${comics}">
            <th scope="row" th:text="${index.count} + ${pages.pageSize} * (${pages.pageNum} - 1)"></th>
            <td><a th:href="|/admin/comic/${comic.id}|" th:text="${comic.title}"></a></td>
            <td th:text="${pageMap[comic.id]}"></td>
            <td th:text="${comic.author}"></td>
            <td><a th:href="|/admin/comic/${comic.id}/addList|">本地章节</a></td>
            <td><a th:href="|/admin/comic/add/${comic.title}|">更新</a></td>
            <td><a class="delete-comic" th:href="@{/admin/comic/delete(id=${comic.id})}">删除</a></td>
        </tr>
        </tbody>
    </table>
        </div>
    </div>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
<script src="/scripts/bootstrap.min.js"></script>
<script src="/scripts/main.js"></script>
</body>
</html>