#record-info p{
    margin-bottom: 0.2rem;
}

.profile {
    border: 1px solid #dee2e6!important;
    /*box-shadow: 1px 1px 2px #aaaaaa, -1px -1px 2px #aaaaaa;*/
}

.profile-item {
    /*border-bottom: 1px solid #dee2e6!important;*/
    padding-top: 20px;
    padding-bottom: 20px;
}

.profile-item input {
    margin-left: 15px;
}

.profile-item textarea {
    width: 80%;
    resize: none;
}

.profile-item-border:last-child { /*被上一条覆盖*/
    border-bottom: none;
}

.profile-btn {
    position: relative;
    bottom: 45px;
    float: right;
}

.record-cover {
    width: 82px;
    height: 96px;
}

#search-tips {
    position: absolute;
    height: 400px;
    z-index: 1000;
    background-color: #ffffff;
    border: 1px solid #dee2e6!important;
    border-top-left-radius: .25rem!important;
    border-top-right-radius: .25rem!important;
    box-shadow: 1px 1px 2px #aaaaaa, -1px -1px 2px #aaaaaa;
}

#search-tips ul {
    list-style: none;
    padding-left: 0;
    /*padding-inline-start: 0; 草案标签，未标准化...*/
}

#search-tips div {
    font-size: 15px;
}

.search-item {
    cursor: pointer;
}

.search-item a {
    width: 100%;
    text-decoration: none;
}

.search-item:hover, .search-item.hover{
    background-color: #f6f6f6;
}

.img-card {
    width: 230px;
}
.card-img-top {
    height: 283px;
}

.card-img {
    width: 230px;
    height: 283px;
}

#nav-top {
    border-bottom: 1px solid #dee2e6!important;
    box-shadow: 2px 2px 4px #aaaaaa;
    margin-bottom: 30px;
    padding-left: 75px;
    padding-right: 75px;
}

#nav-category {
    margin: 0 200px 30px 200px;
}

#nav-category a {
    text-decoration: none;
    color: black;
}
