<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.luffy.comic.mapper.UmsAdminMapper">
    <cache/>
    <update id="update" useGeneratedKeys="true" keyProperty="id">
        update ums_admin
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="email != null">email = #{email},</if>
            <if test="nickName != null">nick_name = #{nickName},</if>
            <if test="icon != null">icon = #{icon},</if>
            <if test="note != null">note = #{note},</if>
            <if test="loginTime != null">login_time = #{loginTime},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        where id = #{id}
    </update>
</mapper>