<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet" type="text/css"/>
    <title>设置</title>
</head>
<body>
<div th:replace="nav :: nav-top"></div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div th:replace="sidebar :: profile"></div>
        <form action="/user/profile/update" class="profile mt-lg-1 col-6" method="post" novalidate
              th:with="user=${#session.getAttribute('SPRING_SECURITY_CONTEXT').Authentication.Principal}">
            <div class="profile-item row">
                <div class="col-2 text-right">
                    <label>用户名: </label>
                </div>
                <div class="text-muted col" th:text="${user.username}"></div>
            </div>
            <div class="profile-item row">
                <div class="col-2 text-right align-self-center">
                    <label for="nickName">昵称: </label>
                </div>
                <input class="form-control col-4" id="nickName" name="nickName"
                       pattern="^(?![0-9_])[a-zA-Z0-9_\u4e00-\u9fa5]{2,16}$" th:placeholder="${user.nickName}?:'无'" type="text">
                <div class="invalid-feedback col align-self-center text-left">
                    由4-16个字符内的字母中文或数字组成
                </div>
            </div>
            <div class="profile-item row">
                <div class="col-2 text-right">
                    <label for="note">头像: </label>
                </div>
                <div class="col">
                    <span class="text-muted" th:text="${user.icon}?:'未设置'"></span>
                </div>
            </div>
            <div class="profile-item row">
                <div class="col-2 text-right align-self-center">
                    <label for="note">我的签名: </label>
                </div>
                <div class="col">
                    <textarea autocomplete="off" class="border rounded"
                              id="note" maxlength="500" name="note" rows="2" th:if="${user.note}"
                              th:placeholder="(not ${user.note})?'无'" th:text="${user.note}?${user.note}"></textarea>
                </div>
            </div>
            <div class="profile-item row">
                <div class="col-2"></div>
                <input class="btn btn-danger" id="profile-submit" type="submit" value="保存">
                <div class="invalid-feedback valid-feedback col align-self-center text-left" id="submit-feedback">

                </div>
            </div>
        </form>
    </div>
</div>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
<script src="/scripts/main.js"></script>
<script src="/scripts/profile.js"></script>
</body>
</html>