<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet" type="text/css"/>

    <title>历史记录</title>
</head>
<body>
<div th:replace="nav :: nav-top"></div>
<div class="container-fluid">
    <div th:replace="nav :: nav-pag(${pages})"></div>
    <div class="row record justify-content-center" th:each="record : ${pages.list}" th:object="${record}">
        <div class="col-1 border-bottom pt-1 pb-1">
            <a th:href="|/comic/*{comic.id}|">
                <img class="record-cover img-thumbnail"
                     th:alt="|/*{comic.title}/cover.jpg|" th:src="|/*{comic.title}/cover.jpg|">
            </a>
        </div>
        <div class="col-5 border-bottom">
            <h4 class="pt-2">
                <a th:href="|/comic/*{comic.id}|" th:text="*{comic.title}"></a>
            </h4>
            <div class="pt-2">
                <a class="text-muted" th:href="|/chapter/*{chapter.id}?page=*{page}|"
                   th:text="|p.*{page} / CH.*{chapter.title}|"></a>

            </div>
        </div>
        <div class="col-2 border-bottom mt-4">
            <a class="btn btn-outline-danger record-delete mr-1 " style="top: 20px" th:href="|/record/delete/*{id}|">删除</a>
            <a class="btn btn-outline-success" th:href="|/chapter/*{chapter.id}?page=*{page}|">继续阅读</a>
        </div>
    </div>
    <div th:replace="nav :: nav-pag(${pages})"></div>
</div>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
<script src="/scripts/main.js"></script>
</body>
</html>