<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet" type="text/css"/>

    <title>Chapter template</title>
</head>
<body>
    <div class="header mb-4 text-center mt-4" id="page-header" th:fragment="header">
        <h2 th:text="*{comic.title}+' 第'+*{title}+'卷'"></h2>
    </div>

    <div class="form-check text-center" th:fragment="style-checkbox">
        <input class="form-check-input" id="read-style" type="checkbox">
        <label class="form-check-label" for="read-style">
            下拉式阅读
        </label>
    </div>

    <div class="text-center row justify-content-center mt-4 mb-4 dropDown" th:fragment="dropdown-menu(id)" th:id="${id}">
        <button class="btn btn-info" th:if="${prev_chapter}" th:onclick="'javascript:location.href=&quot/chapter/' + ${prev_chapter}+'&quot'"
                type="button">
            上一卷
        </button>
        <button class="ml-5 btn btn-info" th:onclick="'javascript:location.href=&quot/comic/'+${chapter.comic.id}+'&quot'"
                type="button">
            目录
        </button>
        <button class="ml-5 btn btn-info" th:if="${next_chapter}" th:onclick="'javascript:location.href=&quot/chapter/' + ${next_chapter}+'&quot'"
                type="button">
            下一卷
        </button>
    </div>

    <div class="text-center justify-content-center mt-4 mb-4 onePage" th:fragment="one-page-menu(id)" th:id="${id}">
        <button class="btn btn-info pre-chapter" th:if="${prev_chapter}" th:onclick="'javascript:location.href=&quot/chapter/' + ${prev_chapter}+'&quot'"
                type="button">
            上一卷
        </button>
        <button class="btn btn-outline-danger btn-sm ml-4 pre-page">上一页</button>
        <select class="my-custom-select mr-sm-2 ml-4 select-page">
            <!--<option selected>1</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>-->
        </select>
        <span class="text-muted" th:text="'/' + ${chapter.pages}"></span>
        <button class="btn btn-outline-danger btn-sm ml-4 next-page">下一页</button>
        <button class="btn btn-info ml-4 next-chapter" th:if="${next_chapter}" th:onclick="'javascript:location.href=&quot/chapter/' + ${next_chapter}+'&quot'"
                type="button">
            下一卷
        </button>
    </div>

    <span id="clock" th:fragment="clock"></span>

    <div id="menu" th:fragment="side-menu">
        <div class="text-center btn-group" id="menu-content" role="group">
            <button class="btn btn-outline-light" data-original-title="切换阅读方式" data-placement="left"
                    data-toggle="tooltip" id="menu-read-style" title type="button">
                <img alt="/images/icons/arrow-repeat.svg"
                     height="30px" src="/images/icons/arrow-repeat.svg" width="30px">
            </button>
            <br>
            <th:block sec:authorize="!isAnonymous()">
            <span th:replace="favourite-icon :: favourite(${chapter.comic.id}, ${favourite})">
                <!--<svg class="icon" p-id="2751" t="1575400170279" version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                    <path d="M746.112 497.76A132.48 132.48 0 0 0 784 404.752C784 331.424 724.784 272 651.776 272a132.16 132.16 0 0 0-118.304 73.392c-8.832 17.712-34.112 17.712-42.944 0A132.16 132.16 0 0 0 372.224 272C299.2 272 240 331.424 240 404.752c0 35.2 13.68 68.16 37.712 92.832 1.84 1.904 3.312 4 4.384 6.192L504.72 741.44l238.592-240.24c0.8-1.2 1.744-2.352 2.8-3.44zM192 404.752C192 304.944 272.672 224 372.224 224c55.344 0 106.192 25.248 139.776 66.624A179.872 179.872 0 0 1 651.776 224C751.328 224 832 304.944 832 404.752c0 46.192-17.376 89.68-48 122.816a24.48 24.48 0 0 1-3.248 4.048l-259.52 261.296a24 24 0 0 1-34.544-0.512l-244.752-261.28a24.176 24.176 0 0 1-4.112-5.936A180.448 180.448 0 0 1 192 404.752z" p-id="2752">
                    </path>
                </svg>-->
            </span>
            <br>
            </th:block>
            <button class="btn btn-outline-light" data-original-title="上一章" data-placement="left"
                    data-toggle="tooltip"
                    th:if="${prev_chapter}" th:onclick="'javascript:location.href=&quot/chapter/' + ${prev_chapter}+'&quot'" title type="button">
                <svg class="icon" p-id="2633" t="1575400052204" version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                    <path d="M830.24 685.76l11.328-11.312a16 16 0 0 0 0-22.64L530.448 340.688a16 16 0 0 0-22.64 0L196.688 651.808a16 16 0 0 0 0 22.64l11.312 11.312a16 16 0 0 0 22.624 0l288.496-288.512L807.632 685.76a16 16 0 0 0 22.624 0z" p-id="2634">
                    </path>
                </svg>
            </button>
            <br>
            <button class="btn btn-outline-light" data-original-title="目录"
                    data-placement="left"
                    data-toggle="tooltip" th:onclick="'javascript:location.href=&quot/comic/'+${chapter.comic.id}+'&quot'" title type="button">
                <svg class="icon" p-id="2869" t="1575400455009" version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                    <path d="M343.312 374.256v-16a16 16 0 0 1 16-16h23.648a16 16 0 0 1 16 16v16a16 16 0 0 1-16 16h-23.648a16 16 0 0 1-16-16z m100.16 0v-16a16 16 0 0 1 16-16H650.08a16 16 0 0 1 16 16v16a16 16 0 0 1-16 16H459.472a16 16 0 0 1-16-16z m-100.16 144.704v-16a16 16 0 0 1 16-16h23.648a16 16 0 0 1 16 16v16a16 16 0 0 1-16 16h-23.648a16 16 0 0 1-16-16z m100.16 0v-16a16 16 0 0 1 16-16H650.08a16 16 0 0 1 16 16v16a16 16 0 0 1-16 16H459.472a16 16 0 0 1-16-16z m-100.16 144.688v-16a16 16 0 0 1 16-16h23.648a16 16 0 0 1 16 16v16a16 16 0 0 1-16 16h-23.648a16 16 0 0 1-16-16z m100.16 0v-16a16 16 0 0 1 16-16H650.08a16 16 0 0 1 16 16v16a16 16 0 0 1-16 16H459.472a16 16 0 0 1-16-16zM256 240v541.92h497.392V240H256z m529.392 589.92H224a16 16 0 0 1-16-16V208a16 16 0 0 1 16-16h561.392a16 16 0 0 1 16 16v605.92a16 16 0 0 1-16 16z" p-id="2870">
                    </path>
                </svg>
            </button>
            <br>
            <button class="btn btn-outline-light" data-original-title="下一章" data-placement="left"
                    data-toggle="tooltip"
                    th:if="${next_chapter}" th:onclick="'javascript:location.href=&quot/chapter/' + ${next_chapter}+'&quot'" title type="button">
                <svg class="icon" p-id="2515" t="1575399554787" version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                    <path d="M830.24 340.688l11.328 11.312a16 16 0 0 1 0 22.624L530.448 685.76a16 16 0 0 1-22.64 0L196.688 374.624a16 16 0 0 1 0-22.624l11.312-11.312a16 16 0 0 1 22.624 0l288.496 288.496 288.512-288.496a16 16 0 0 1 22.624 0z" p-id="2516">

                    </path>
                </svg>
            </button>
        </div>
        <img alt="" id="menu-icon" src="/images/list-unordered.svg">
    </div>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
</body>
</html>