<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/chapter.css">

    <title th:text="${chapter.title}+'卷'"></title>
</head>
<body>

<div th:replace="breadcrumb :: comic"></div>
<div class="container-fluid" id="container" th:object="${chapter}">

    <div th:replace="chapter-item :: header"></div>

    <div th:replace="chapter-item :: style-checkbox"></div>

    <div th:replace="chapter-item :: dropdown-menu('drop-header')">
    </div>
    <div th:replace="chapter-item :: one-page-menu('one-page-header')">
    </div>

    <div class="text-center" id="main-pages">

    </div>

    <div th:replace="chapter-item :: dropdown-menu('dropdown-footer')">
    </div>
    <div th:replace="chapter-item :: one-page-menu('one-page-footer')">
    </div>

    <span th:replace="chapter-item :: clock"></span>

    <!--<div class="input-group" style="width:125px;" id="goto">
        &lt;!&ndash;<div class="input-group-prepend">&ndash;&gt;
        &lt;!&ndash;<div class="input-group-text" id="btnGroupAddon">@</div>&ndash;&gt;
        &lt;!&ndash;</div>&ndash;&gt;
        <input type="search" class="form-control" placeholder="页数" id="input-btn"/>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="btn-goto">Goto</button>
        </div>
    </div>-->

    <div th:replace="chapter-item :: side-menu"></div>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>-->
<!--<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>-->
<script src="/scripts/http_cdn.bootcss.com_jquery_3.2.1_jquery.js"></script>
<script src="/scripts/http_unpkg.com_popper.js_dist_umd_popper.js"></script>
<script src="/scripts/bootstrap.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    let chapter = /*[[${chapter}]]*/null;
    /*]]>*/
</script>
<script src="/scripts/main.js"></script>
<script src="/scripts/chapter.js"></script>
</body>
</html>