<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <link href="/stylesheets/chapter.css" rel="stylesheet" type="text/css">

    <title th:text="${chapter.title}+'卷'"></title>
</head>
<body>
<div th:replace="nav :: nav-top"></div>
<div class="container-fluid" id="container" th:object="${chapter}">

    <div th:replace="chapter-item :: header"></div>

    <div th:replace="chapter-item :: style-checkbox"></div>

    <div th:replace="chapter-item :: dropdown-menu('drop-header')">
    </div>
    <div th:replace="chapter-item :: one-page-menu('one-page-header')">
    </div>

    <div class="text-center" id="main-pages">

    </div>

    <div th:replace="chapter-item :: dropdown-menu('dropdown-footer')">
    </div>
    <div th:replace="chapter-item :: one-page-menu('one-page-footer')">
    </div>

    <span th:replace="chapter-item :: clock"></span>

    <!--<div class="input-group" style="width:125px;" id="goto">
        &lt;!&ndash;<div class="input-group-prepend">&ndash;&gt;
        &lt;!&ndash;<div class="input-group-text" id="btnGroupAddon">@</div>&ndash;&gt;
        &lt;!&ndash;</div>&ndash;&gt;
        <input type="search" class="form-control" placeholder="页数" id="input-btn"/>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="btn-goto">Goto</button>
        </div>
    </div>-->

    <div th:replace="chapter-item :: side-menu"></div>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
<script sec:authorize="!isAnonymous()" th:inline="javascript">
    /*<![CDATA[*/
    let chapter = /*[[${chapter}]]*/null;
    let user = /*[[${#session.getAttribute('SPRING_SECURITY_CONTEXT').Authentication.Principal}]]*/null;
    /*]]>*/
</script>
<script sec:authorize="isAnonymous()" th:inline="javascript">
    /*<![CDATA[*/
    let chapter = /*[[${chapter}]]*/null;
    let user = null;
    /*]]>*/
</script>
<script src="/scripts/main.js"></script>
<script src="/scripts/chapter.js"></script>
</body>
</html>