<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/chapter.css" rel="stylesheet">

    <title th:text="${chapter.title}+'卷'"></title>
</head>
<body>
<div class="container-fluid" id="container" th:object="${chapter}">

    <div th:replace="~{chapter :: header}"></div>

    <div th:replace="~{chapter :: style-checkbox}"></div>

    <div class="text-center justify-content-center mt-4 mb-5" th:id="header" th:include="~{chapter :: one-page-menu}">
    </div>

    <div class="text-center" id="main-pages">
        <div class="page">
            <img alt='/最强会长黑神/110/016.jpg' class='page-img border border-light rounded mt-2 mb-2' src='/最强会长黑神/110/016.jpg'>
        </div>
    </div>

    <div class="text-center justify-content-center mt-5 mb-5" id="page-footer" th:include="~{chapter :: one-page-menu}">
    </div>

    <span th:replace="~{chapter :: clock}"></span>

    <div th:replace="~{chapter :: side-menu}"></div>
</div>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
<script src="/scripts/bootstrap.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    let chapter = /*[[${chapter}]]*/null;
    /*]]>*/
</script>
<script src="/scripts/tools.js"></script>
<script src="/scripts/chapter.js"></script>
</body>
</html>