<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">

    <title>Title</title>
</head>
<body>

<th:block th:fragment="favourite(comicId, favourite)">
    <button class="btn btn-outline-light btn-favourite" data-toggle="tooltip" th:data-placement="${chapter} ? 'left' : 'top'"
       th:if="${favourite}" th:name="${comicId}" title="取消订阅">
        <img alt="/images/icons/heart-fill.svg"
             height="30px" src="/images/icons/heart-fill.svg" width="30px">
    </button>
    <button class="btn btn-outline-light btn-favourite" data-toggle="tooltip" th:data-placement="${chapter} ? 'left' : 'top'"
       th:if="not ${favourite}" th:name="${comicId}" title="订阅">
        <img alt="/images/icons/heart.svg"
             height="30px" src="/images/icons/heart.svg" width="30px">
    </button>
</th:block>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
</body>
</html>