<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
    <link href="/stylesheets/main.css" rel="stylesheet" type="text/css" />

    <title>主页</title>
</head>
<body>
<div th:replace="nav :: nav-top"></div>
<div th:replace="breadcrumb :: comic"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="sidebar :: comic(${last_comic})"></div>

        <div class="col-md-10">
            <header class="text-center">
                <h2 class="mb-4">目录</h2>
                <span th:if="${last_record}"
                        th:text="|最近阅读: ${last_comic.title} - ${last_record.chapter.title}卷 - ${last_record.page}页|">
                </span>
            </header>
            <div th:replace="nav :: nav-pag"></div>
            <div class="row justify-content-center" id="cards">
                <div class="col-2 mt-3 ml-4" th:each="comic : ${comics}" th:object="${all_records[comic.id]}">
                    <div class="card" th:if="${all_records[comic.id]}">
<!--                        TODO: 将img设为背景，单独处理-->
                        <a target="_blank" th:href="'/comic/'+${comic.id}">
                            <img th:src="|/${comic.title}/*{chapter.title}/*{page}*{suffix}|"
                                 th:alt="|/${comic.title}/*{chapter.title}/*{page}*{suffix}|"
                                 class="img-thumbnail card-img-top comic-content" th:id="${comic.title}"
                                 style="height: 283px;" />
                            <!--height: 477px on 1080p-->
                        </a>
                        <div class="card-body">
                            <span class="card-text text-center text-summary" data-placement="top"
                                  data-toggle="tooltip" th:text="${comic.title}" th:title="${comic.title}"></span>
                            <a target="_blank" th:href="'/chapter/'+*{chapter.id}+'?page='+*{page}"
                               class="btn btn-outline-danger float-right btn-sm " data-toggle="tooltip" data-placement="top"
                               th:title="'第'+*{page}+'页'">
                                Recent</a>
                        </div>
                    </div>

                    <div class="card" th:if="not ${all_records[comic.id]}">
                        <a target="_blank" th:href="'/comic/'+${comic.id}">
                            <img th:alt="|/${comic.title}/cover.jpg|"
                                 th:src="|/${comic.title}/cover.jpg|"
                                 class="img-thumbnail card-img-top" th:id="${comic.title}"
                                 style="height: 283px"/>
                        </a>
                        <div class="card-body">
                            <p class="card-text text-center text-summary" data-placement="top"
                               data-toggle="tooltip" th:text="${comic.title}" th:title="${comic.title}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>-->
<!--<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>-->
<script src="/scripts/http_cdn.bootcss.com_jquery_3.2.1_jquery.js"></script>
<script src="/scripts/http_unpkg.com_popper.js_dist_umd_popper.js"></script>
<script src="/scripts/bootstrap.min.js"></script>
<script src="/scripts/main.js"></script>
</body>
</html>