<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
		  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">

    <title>Title</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bd-navbar bg-dark" id="nav-top" th:fragment="nav-top">
		<a class="navbar-brand mr-2" href="/">
			<img alt="/favicon.ico" class="d-inline-block align-top" height="30" src="/favicon.ico" width="30">
		</a>

		<div class="navbar-nav-scroll ml-4">
			<ul class="navbar-nav  bd-navbar-nav flex-row">
				<li class="nav-item">
					<a class="nav-link" href="/category">分类</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/index?orderBy=lastUpdate&asc=false">最近更新</a>
				</li>
			</ul>
		</div>

		<div class="collapse navbar-collapse justify-content-end">
			<ul class="navbar-nav account">
				<li class="nav-item mr-2">
					<label class="sr-only" for="search">搜索</label>
					<input class="form-control" id="search" placeholder="输入漫画或作者名称" type="text">
				</li>
				<li class="nav-item login" id="login" sec:authorize="isAnonymous()">
					<a class="nav-link" href="/login">登陆</a>
				</li>
				<li class="nav-item dropdown" id="logout" sec:authorize="!isAnonymous()"
					th:with="user=${#session.getAttribute('SPRING_SECURITY_CONTEXT').Authentication.Principal}">
					<a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
					   href="#" id="navbarDropdownMenuLink" role="button" th:text="${user.username}">
						profile
					</a>
					<div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu">
						<a class="dropdown-item" th:href="|/user/${user.id}/favourite|">我的订阅</a>
						<a class="dropdown-item" th:href="|/user/record|">历史记录</a>
						<a class="dropdown-item" th:href="|/user/profile|">设置</a>
						<a class="dropdown-item" href="/logout">登出</a>
					</div>
				</li>
				<li class="nav-item dropdown" id="comic-admin" sec:authorize="hasRole('ADMIN')">
					<a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">
						管理员
					</a>
					<div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu">
						<a class="dropdown-item" href="/admin/comic/index">漫画管理</a>
						<a class="dropdown-item" href="/admin/account/index">账号管理</a>
					</div>
				</li>
			</ul>
		</div>
    </nav>

	<nav id="nav-category" th:fragment="nav-category">
		<ul class="list-inline">
			<li class="list-inline-item text-muted">分类</li>
			<li class="list-inline-item" th:each="category : ${categories}">
				<a th:href="@{/category(categoryId=${category.id})}" th:text="${category.name}"></a>
			</li>
		</ul>
		<!--<ul class="list-inline">
			<li class="list-inline-item text-muted">排序</li>
			<li class="list-inline-item">默认</li>
			<li class="list-inline-item">漫画名</li>
			<li class="list-inline-item">更新时间</li>
		</ul>-->
	</nav>

	<nav aria-label="Page navigation example" class="mt-3" id="nav-pag"
		 th:fragment="nav-pag(pages_)" th:if="${pages_.pages > 1}">
		<ul class="pagination justify-content-center" th:with="path=${#request.getRequestURI()}">
			<li class="page-item" th:classappend="${not pages_.hasPreviousPage} ? 'disabled'">
				<a class="page-link" tabindex="-1" th:href="${path}+'?pageNum='+${pages_.prePage}+'&pageSize='+${pages_.pageSize}">Previous</a>
			</li>
			<li class="page-item" th:classappend="${now == pages_.pageNum} ? 'active'" th:each="now : ${pages_.navigatepageNums}">
				<a class="page-link" th:href="${path}+'?pageNum='+${now}+'&pageSize='+${pages.pageSize}" th:text="${now}">
				</a>
			</li>
			<li class="page-item" th:classappend="${not pages_.hasNextPage} ? 'disabled'">
				<a class="page-link" th:href="${path}+'?pageNum='+${pages_.nextPage}+'&pageSize='+${pages_.pageSize}">Next</a>
			</li>
		</ul>
	</nav>

	<nav aria-label="Page navigation example" class="mt-3" id="nav-pag-comments"
		 th:fragment="nav-pag-comments" th:if="${comments.pages > 1}">
		<ul class="pagination justify-content-center" th:with="path=${#request.getRequestURI()}">
			<li class="page-item" th:classappend="${not comments.hasPreviousPage} ? 'disabled'">
				<a class="page-link" tabindex="-1" th:href="${path}+'?cPageNum='+${comments.prePage}+'&cPageSize='+${comments.pageSize}">上一页</a>
			</li>
			<li class="page-item" th:classappend="${now == comments.pageNum} ? 'active'" th:each="now : ${comments.navigatepageNums}">
				<a class="page-link" th:href="${path}+'?cPageNum='+${now}+'&cPageSize='+${comments.pageSize}" th:text="${now}">
				</a>
			</li>
			<li class="page-item" th:classappend="${not comments.hasNextPage} ? 'disabled'">
				<a class="page-link" th:href="${path}+'?cPageNum='+${comments.nextPage}+'&cPageSize='+${comments.pageSize}">下一页</a>
			</li>
		</ul>
	</nav>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
</body>
</html>